.messagelist{data: {id: message.id}}
  .messagelist__create
    .messagelist__name
      = message.user.name
      
    .messagelist__post_date
      = message.created_at.strftime("%Y-%m-%d %H:%M")
      
  .messagelist__comment
    = message.content if message.content.present?
  = image_tag message.image.url, class: 'input-box__image' if message.image.present?
