.contents
  .left_content
    .main_display
      .left_content_header__box

        .left_content_header__box__name
          testname
        .left_content_header__box__icons
          %a.chat-side__user--new-group{href: '/groups/new'}
            %p.fa.fa-edit
          %a.chat-side__user--edit-user{href: '/users/edit'}
            %p.fa.fa-cog


    .group_display
      .group_list
        .group_name
          group
        .message_least
          テスト
      .group_list
        .group_name
          テスト
        .message_least
          テスト
  .main_content
    .main_header
      .main_header_display
        .main_group_name
          sampleグループ
        .main_login_name
          Members:test
      .edit_btn
        Edit
    .messageslists
      = render partial: "messages/message", locals: { message: @message }

    %form{:action => "/", :method => "post", class: "form"}
      .new-message
        %input{:name => "body", placeholder: "type a message",class: "input-box"}

        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
          %input{:name => "image", type: "file",class: "input-box__image",id: "upload-icon"}
        %input{:type => "submit", :value => "send",class:"submit-btn"}
