
.contents {
  .left_content{
    float:left;
    width: 300px;
    .main_display{
      background-color: $black;
      // font-size: 16px;
      padding: 0 20px ;
      height: 100px;
      width: 260px;
      color: white;
      float: left;
      .left_content_header__box__name{
        font-size: 16px;
        font-weight: bold;
        width: 70%;
        float: left;
        line-height: 100px;
      }
      .left_content_header__box__icons{
        float: right;
        color: white;
        .chat-side__user--new-group{
          line-height: 100px;
          text-decoration: none;
          float:left;
          color: white;
          .icon{
            color: white;
            // color:inherit;
          }
        }
        .chat-side__user--edit-user{
          line-height: 100px;
          text-decoration: none;
          float:left;
          padding: 0 5px;
          color: white;
          .icon{
            color: white;
          }
        }
      }
    }
    .group_display{
      background-color: #2f3e51;
      color: #FFF;
      height: calc(100vh - 100px);
      overflow-x: scroll;
      padding: 20px 20px 0;
      .group_list{
        .linkgroup{
          text-decoration: none;
          .group_name{
            font-size: 15px;
            color: #FFF;
            margin-bottom: 5px;
            list-style: none;

          }
          .group__least{
            font-size: 11px;
            color: #FFF;
            text-decoration: none;
            margin-bottom: 40px;
          }
      }
        
      }
    }
  }
  .main_content{
    float:left;
    width: calc(100% - 300px);
    .main_header{
      background-color: white;
      height: 100px;
      .main_header_display{
        width: 80%;
        float:left;
        .main_group_name{
          font-size: 20px;
          padding: 35px 0 15px 40px;
        }
        .main_login_name{
          display: flex;
          font-size: 12px;
          padding: 0 0 0 40px;
          color: $lightgray;
          padding-inline-start: 40px;
        }
      }
      .edit_btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        color: $lightblue;
        border: solid 1px $lightblue;
        position: absolute;
        right: 40px;
        text-decoration: none;
      }
    }
    .messageslists{
      background-color: white;
      height: calc(100vh - 287px);
      overflow-x: scroll;
      padding: 46px 40px;
      border-top: solid 1px #eeeeee;
      .messagelist{
        padding-bottom: 40px;
        &__create{
          height: 20px;
          .messagelist__name{
            height: 20px;
            line-height: 20px;
            font-size: 16px;
            color: $black;
            float: left;
          }
          .messagelist__post_date{
            color: $lightgray;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            padding-left: 10px;
            float: left;
          }
        }
        &__comment{
          font-size: 14px;
          color: $black;
          padding-top: 10px;
        }
      }
    }
    
    .form{
      width: calc(100% - 360px);
      height: 90px;
      padding: 20px 40px;
      background-color:#DDDDDD;
      position:fixed;
      .new_message{
        display: flex;
        position:relative;
        .input-box{
          position: relative;
          width: 100%;
          padding: 0 40px 0 10px;
        }
        .upload-label{
          i{
            right:125px;
            top:15px;
            position: absolute;
          }
          .input-box__image{
            display: none;
            font-size: 1.3rem;
            cursor: pointer;
          }
        }
        .submit-btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          border-color: #38aef0;
          cursor: pointer;
        }
      }
    }
  }
}

.notification {
  position: fixed;
  top: 0;
  width: 100vw;
  .alert {
    width: 100vw;
  }
}